<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div text-center>
    <img class="logo" src="assets/img/logo.png" alt="">
  </div>
  <ion-row>
    <ion-col>
      <img class="signup_icon" src="assets/img/registered_one.png" alt="" *ngIf="slideIndex!==0">
      <img class="signup_icon" src="assets/img/registered_one_one.png" alt="" *ngIf="slideIndex===0">
    </ion-col>
    <ion-col align-self-center>
      <hr class="line">
    </ion-col>
    <ion-col>
      <img class="signup_icon" src="assets/img/registered_one.png" alt="" *ngIf="slideIndex!==0">
      <img class="signup_icon" src="assets/img/registered_one_one.png" alt="" *ngIf="slideIndex===0">
    </ion-col>
    <ion-col align-self-center>
      <hr class="line">
    </ion-col>
    <ion-col>
      <img class="signup_icon" src="assets/img/registered_one.png" alt="" *ngIf="slideIndex!==0">
      <img class="signup_icon" src="assets/img/registered_one_one.png" alt="" *ngIf="slideIndex===0">
    </ion-col>
    <ion-col align-self-center>
      <hr class="line">
    </ion-col>
    <ion-col>
      <img class="signup_icon" src="assets/img/registered_one.png" alt="" *ngIf="slideIndex!==0">
      <img class="signup_icon" src="assets/img/registered_one_one.png" alt="" *ngIf="slideIndex===0">
    </ion-col>
  </ion-row>
  
</ion-content>
